.mythbuster {
  overflow: hidden;
  position: relative;
  width: 297px;
  height: 297px;
}

.mythbuster__header {
  position: absolute;
  top: 0;
  left: 0;
  width: 297px;
  height: 72px;
  z-index: 2;
}

.mythbuster__header-image {
  float: right;
}

.gallery {
  position: absolute;
  top: 0;
  left: 0;
  width: 297px;
  height: 297px;
  z-index: 1;
}

.gallery__slides {
  position: relative;
}

.gallery__slide {
  width: 297px;
  height: 297px;
  transform: translateY(0);
  transition: 0.75s;
}

.gallery__slide--hidden {
  display: none;
}

.gallery__slide--visible {
  display: block;
}

.gallery__image {
  margin: 0;
  padding: 0;
}

.mythbuster--active .gallery__slide {
  transform: translateY(-297px);
}
