.mythbuster {
  overflow: hidden;
  position: relative;
  width: 297px;
  height: 297px;
}

.mythbuster::after {
  content: '.';
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 297px;
  height: 30px;
  animation: wiggle 4s cubic-bezier(0.13, 1, 0.76, 0.85);
  animation-iteration-count: infinite;
  background: #004a8f;
  transition: 0.5;
}

.mythbuster__header {
  position: absolute;
  top: 0;
  left: 0;
  width: 297px;
  height: 72px;
  z-index: 2;
}

.gallery {
  position: absolute;
  top: 0;
  left: 0;
  width: 297px;
  height: 297px;
  z-index: 1;
}

.gallery__slides {
  position: relative;
}

.gallery__slide {
  width: 297px;
  height: 297px;
  transform: translateY(0);
  transition: 0.75s;
}

.gallery__slide--hidden {
  display: none;
}

.gallery__slide--visible {
  display: block;
}

.gallery__image {
  margin: 0;
  padding: 0;
}

.mythbuster--active .gallery__slide {
  transform: translateY(-297px);
}

@keyframes wiggle {
  0% {
    transform: translateY(0);
  }
  65% {
    transform: translateY(0);
  }
  93% {
    transform: translateY(-12px);
  }
  96% {
    transform: translateY(5px);
  }
  98% {
    transform: translateY(-2px);
  }
  99% {
    transform: translateY(1px);
  }
  100% {
    transform: translateY(0);
  }
}
